*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

html {
    overflow-x: hidden;
}

body {
    color: rgb(56, 56, 56);
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 3.2rem;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

input, button {
    border: none;
    outline: none;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ToolTip Start */
[tooltip]::before,
[tooltip]::after
{
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
    text-transform: none; 
    font-size: 1.6rem;
}

[tooltip]::before
{
    content: "";
    z-index: 1001;
    border: 5px solid transparent;
}

[tooltip]::after
{
    content: attr(tooltip);
    z-index: 1000;
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: white;
}

[tooltip]:hover::before,
[tooltip]:hover::after
{
    display: block;
}

[tooltip='']::before,
[tooltip='']::after
{
    display: none !important;
}

[tooltip]::before
{
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
}
 
[tooltip]::after
{
    top: calc(100% + 5px);
}
 
[tooltip]::before,
[tooltip]::after
{
    left: 50%;
    transform: translate(-50%, .5em);
}

@keyframes tooltips-vert {
    to {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
   
  @keyframes tooltips-horz {
    to {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }

[tooltip]:hover::before,
[tooltip]:hover::after {
    animation: 
        tooltips-vert 
        300ms 
        ease-out
        forwards;
}
/* ToolTip End*/


/* Black button Start */
.black-button {
    display: inline-block;
    color: white;
    font-size: 1.9rem;
    letter-spacing: 1px;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 7px;
    background: rgb(59, 59, 59);
    transition: 0.1s all;
}

.black-button:hover {
    background: rgb(45, 45, 45);
    transition: 0.1s all;
}

.black-button:active {
    background: rgb(49, 49, 49);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
/* Black button End */


/* Errors block Start */
.block-status {
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 0;
}

.block-status span {
    font-size: 1.76rem;
}

.block-status ul {
    list-style-type: disc;
    padding-left: 20px;
}

.block-status li {
    display: list-item;
    font-size: 1.76rem;
}

.b-errors {
    color: rgb(233, 41, 41);
    background-color: rgb(255, 201, 201);
    border-color: rgb(252, 152, 152);
}

.b-success {
    border-color: rgb(122, 247, 117);
    background-color: rgb(186, 255, 184);
    color: rgb(69, 190, 65);
}
/* Errors block End */


/* Login/Register card Start */
.min-margin-if-errors {
    margin: 20px auto !important;
}

.lr-card {
    margin: 100px auto 0 auto;
    background-color: inherit;
    max-width: 450px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.lr-card-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 3.2rem;
    font-weight: 500;
}

.lr-card-additionally {
    text-align: center;
    padding: 30px 20px 20px 20px;
    font-size: 1.6rem;
}

.lr-card-button {
    width: 100%;
    font-size: 2rem;
    padding: 10px 0;
}

.lr-card-link {
    text-decoration: underline;
    color: rgb(5, 105, 220);
    font-size: 1.6rem;
}

.lr-card-main label {
    display: block;
    font-size: 1.6rem;
}

.lr-card-form-container {
    padding: 0 10%;
}

.lr-card-fields-wrapper {
    padding-bottom: 10px;
}

.lr-card-fields-wrapper input {
    width: 100%;
    font-size: 2.4rem;
    margin-bottom: 15px;
    margin-top: 7px;
    padding: 5px 10px;
    color: #383838;
    outline: rgb(161, 161, 161) solid 1px;
}

.lr-card-fields-wrapper input:focus {
    outline: rgb(102, 102, 102) solid 2px;
}
/* Login/Register card End */


/* Material Icons Start */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
/* Material Icons End */


.characters-grid {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
}

@media (max-width: 768px) {
    .characters-grid {
        grid-template-columns: repeat(2, 49%);
    }
}

@media (max-width: 550px) {
    .characters-grid {
        grid-template-columns: 100%;
    }

    .lr-card {
        margin: 30px auto 0 auto;
    }
}